response_examples/opendap_wsdl.xml

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://opendap.co-ops.nos.noaa.gov/axis/webservices/historicstations/wsdl" xmlns:intf="http://opendap.co-ops.nos.noaa.gov/axis/webservices/historicstations/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://opendap.co-ops.nos.noaa.gov/axis/webservices/historicstations/wsdl">
    <!--
WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)
-->
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://opendap.co-ops.nos.noaa.gov/axis/webservices/historicstations/wsdl">
            <complexType name="location">
                <sequence>
                    <element name="lat" type="xsd:string"/>
                    <element name="long" nillable="true" type="xsd:string"/>
                    <element name="state" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="metadata">
                <sequence>
                    <element name="location" type="impl:location"/>
                    <element name="date_established" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="station">
                <sequence>
                    <element name="metadata" type="impl:metadata"/>
                </sequence>
                <attribute name="ID" type="xsd:string"/>
                <attribute name="name" type="xsd:string"/>
            </complexType>
            <complexType name="stations">
                <sequence>
                    <element maxOccurs="unbounded" name="station" type="impl:station"/>
                </sequence>
            </complexType>
            <element name="HistoricStations">
                <complexType>
                    <sequence>
                        <element name="stations" type="impl:stations"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="getHistoricStationsResponse">
        <wsdl:part element="impl:HistoricStations" name="HistoricStations"/>
    </wsdl:message>
    <wsdl:message name="getHistoricStationsRequest"></wsdl:message>
    <wsdl:portType name="HistoricStationsPortType">
        <wsdl:operation name="getHistoricStations">
            <wsdl:input message="impl:getHistoricStationsRequest" name="getHistoricStationsRequest"/>
            <wsdl:output message="impl:getHistoricStationsResponse" name="getHistoricStationsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HistoricStationsSoapBinding" type="impl:HistoricStationsPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getHistoricStations">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getHistoricStationsRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getHistoricStationsResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HistoricStationsService">
        <wsdl:port binding="impl:HistoricStationsSoapBinding" name="HistoricStations">
            <wsdlsoap:address location="http://opendap.co-ops.nos.noaa.gov/axis/services/HistoricStations"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>